button.btn-apply {
  padding: 14px 54px;
  background: #d00;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
 button:hover {
    background-color: #bfbfbf;
    color:#000;
    cursor: pointer;
  }
button#cv-download {
    width: 20%;
    background: #e5d5c2;
    border: 1px solid #5f5f5f;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.progress-wrapper {
    width:100%;
}
.progress-wrapper .progress {
    background-color:green;
    width:0%;
    padding:5px 0px 5px 0px;
}

.btn {
    text-align: center;
    padding: 16px;
    display: flex;
    padding: 10px 0;
    justify-content: flex-start;
  }
  
  button {
    border-radius: 10px;
    background-color: grey;
    outline: none;
  }
  
 
  
  .modal {
    height: auto;
  }
  
  .modal_content {
    background-color: white;
    box-shadow: 1px 1px 10px 1px #bbbbbb94;
    padding: 21px;
    border-radius: 10px;
  }
  
  .close {
    color: Black;
    font-size: 50px;
  }
  
  .close:hover {
    color: red;
    cursor: pointer;
  }
.zon-input-fields {
    text-align: center;
    padding: 0px 20px;
}
.job-form-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    padding: 0 20px;
}
.job-form-header h3 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
}
.cv-section-container {
    display: flex;
    width: 100%;
    padding-top: 18px;
}
.cv-section-one {
    width: 100%;
}
.cv-section-two {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.field-input {
    padding: 17px 33px;
    width: 100%;
    border: 1px solid #c8c8c8;
    border-radius: 9px;
}

.fileUploadInput {
  display: grid;
  grid-gap: 10px;
  position: relative;
  z-index: 1;
  align-items: center;
  align-content: center;
}
  
.fileUploadInput label {
    display: flex;
    align-items: center;
    color: setColor(primary, 0.5);
    background: setColor(white);
    transition: .4s ease;
    font-family: arial, sans-serif;
    font-size: .75em;
    font-weight: regular; 
}
    
.fileUploadInput input {
    z-index: 1;
    width: 100%;
    height: 50px;
    border: 1px solid #bbb;
    font-family: arial, sans-serif;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    font-weight: regular;
    line-height: 39px;
    }
.fileUploadInput input[type="file"] {
    padding: 0 gap(m); 
}
.fileUploadInput input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
        margin-left: 10px;
        padding: 0;
        height: 50px;
        width: 0; 
}
        
  .upld-btn {
    position: absolute;
    right: 5px;
    bottom: 4px;
    padding: 12px 20px;
    height: 40px;
    line-height: 0;
    user-select: none;
    color: white;
    background-color: #858585;
    border: 1px solid #bbb;
    border-radius: 0;
    font-family: ;
    font-size: 1rem;
    font-weight: 600;
    }
.fileUploadInput button i {
    padding-right: 10px;
    }
.fileUploadInput button svg {
  width: auto;
  height: 50%; 
}
.container-file {
  background: white;
  z-index: 555;
  bottom: 10px;
  width: 100%;
  }

@-moz-document url-prefix() {
  .fileUploadInput button{
    display: none;
  }
}
.button-wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 19px 20px 11px;
    gap: 10px;
}
.btn-application-cancel {
    padding: 14px 29px;
    display: flex;
    border-radius: 5px;
    border: none;
    border-width: 1px 0 0;
    color: #000;
    align-items: flex-end;
    background: #e8e6e6;
    font-size: 12px;
}
.btn-application-submit {
    padding: 17px 42px;
    display: flex;
    border-radius: 35px;
    border: 1px solid #bbb;
    border-width: 0;
    color: #fff;
    align-items: flex-end;
    background: #083f75;
    font-weight: 600;
}



#zon-testimonial-form .field-container{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}
.file-upload-field {
    margin: 0 !important;
}
.field-msg{position: absolute;display:none;left: 0px;bottom: 6px;font-size: 15px;font-weight:600;letter-spacing:0.05em;margin: 0;}
.form-success-error-msg {
    position: relative;
    bottom: 10px;
}

#zon-testimonial-form .field-msg.show{display:block}#zon-testimonial-form .error{color:#901313}#zon-testimonial-form .success{color:#2f812f}
.field-container input::placeholder {
    color:#adadad
}
.field-container label {
    padding-bottom: 10px;
    font-size: 13px;
}
@media screen and (max-width: 767px) {
.modal {
    width: 95%;
}
}